:root {
  --primary-color: #80b9ad;
  --secondary-color: #bbded6;
  --accent-color: #c5e1d9;
  --background-color: #e3f1ee;
  --text-color: #2e5266;
  --button-text-color: #1b03a3;
  --hover-success-color: rgb(23, 151, 23);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: var(--primary-color) !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: var(--text-color) !important;
  font-weight: 600;
}

.navbar .nav-link:hover {
  color: var(--secondary-color) !important;
}
